html{
    margin: auto;
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 7vh;
    background-color: #FED100;
    display: flex;
    flex-direction: row;
}
.width50{
    width: 50%;
    height: 100%;
}
header a{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: black;
}
.homeadmin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;

}
.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.carousel-inner{
    background: rgb(80,78,78);
    background: linear-gradient(90deg, rgba(80,78,78,1) 0%, rgba(245,245,250,1) 59%, rgba(80,78,78,1) 100%);
    display: flex;
    justify-content: space-around;
}
.product-section{
    width: 100%;
    height: 100vh;
    padding: 1rem;
}
.ProductList{
    padding: 1em;
    
    
}
#img-footer{
    padding: 1rem;
}
.cart-icon{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    margin: 8rem;
}
#btnaddcart{
    margin-left: 3em;
}
#btn-circle{
    background-color: #FED100;
    border-radius: 10rem;
}
@media screen and (max-width:1000px){
    .ProductList{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .row::before{
        content: none;
    }
    #btnaddcart{
        margin-left: 5em;
    }
    .col-xs-3{
        width: 100%;
    }
    #banner1 img {
        width: 50%;
    }
    #banner2 img {
        width: 50%;
    }
    #banner3 img {
        width: 50%;
    }

}
@media screen and (max-width:650px){
    .ProductList{
        display: grid;
        grid-template-columns: auto auto ;
    }
    .row::before{
        content: none;
    }
    #btnaddcart{
        margin-left: 5em;
    }
    .col-xs-3{
        width: 100%;
    }
}
